body {
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background: #0f172a;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

.sidebar .active {
    color: #3b82f6;
}

/* Main */
.main {
    flex: 1;
    padding: 20px;
}

.topbar input {
    width: 100%;
    padding: 10px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    color: white;
}

.income { background: green; }
.expense { background: red; }
.savings { background: blue; }

/* Chart */
.chart {
    margin-top: 30px;
}

/* Right panel */
.right-panel {
    width: 250px;
    background: #f3f4f6;
    padding: 20px;
}

.insight {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}